<form class="text-center" action="/auth/google" method="get">

  <button class="btn btn-primary btn-block my-2" type="submit">
    Sign in with Google
  </button>
</form>
<form class="text-center" action="/local/signin" method="get">
  <button
    class="btn btn-secondary btn-block my-2"
    onclick="window.location.href='/local/signin'"
  >
    Sign in with Email
  </button>
</form>